# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DevMan\Future_salary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
